@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
}



.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
}



.c-fw{//font-weight
	&--lt{
		font-weight: 300!important
	}
	&--rg{
		font-weight: 400!important
	}
	&--md{
		font-weight: 500!important
	}
	&--sbd{
		font-weight: 600!important
	}
	&--bd{
		font-weight: 700!important
	}
	&--bk{
		font-weight: 900!important
	}
}



.c-tx--v {
	//Vertical writing
	//display: inline-block;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	&-pc{
		@include mq(md-min) {
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
	}
}



.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
}










/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include font-size(21);
		line-height: 1.8;
		text-align: justify;
		@include mq(lp){
			@include font-size(18);
		}
		@include mq(){
			@include font-size(14);
		}
		p{
			margin-bottom: 40px;
			@include mq(){
				margin-bottom: 15px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		text-align: center;
		position: relative;
		line-height: 1.3;
		color: #0456A9;
		font-weight: bold;
		margin-bottom: 50px;
		@include mq(){
			margin-bottom: 20px;
		}
		span{
			display: block;
		}
		.c-ft{
			&--en{
				@include font-size(72);
				font-weight: 500;
				text-transform: uppercase;
				@include mq(xl){
					@include font-size(46);
				}
				@include mq(){
					@include font-size(24);
				}
			}
			&--jp{
				@include font-size(24);
				@include mq(xl){
					@include font-size(18);
				}
				@include mq(){
					@include font-size(14);
				}
			}
		}
	}
	&__02{
		display: block;
		@include font-size(36);
		line-height: 1.4;
		font-weight: bold;
		color: #0456A9;
		margin-bottom: 15px;
		@include mq(xl){
			@include font-size(28);
		}
		@include mq(){
			@include font-size(24);
		}
	}
}

//btn
.c-btn{
	@include flex(center,center,wrap);
	width: 100%;
	max-width: 300px;
	height: 64px;
	margin: 0 auto;
	border-radius: 60px;
	@include font-size(24);
	letter-spacing: 2px;
	font-weight: bold;
	color: white;
	background: rgb(13,59,116);
	background: linear-gradient(90deg, rgba(13,59,116,1) 0%, rgba(4,86,162,1) 100%);
	cursor: pointer;
	position: relative;
	padding: 0 40px 4px 0;
	border: 1px solid #0d3b74;
	@include mq(lp){
		max-width: 240px;
		height: 50px;
		@include font-size(18);
	}
	@include mq(){
		@include font-size(18);
		max-width: 200px;
		height: 40px;
		padding: 0 14px 4px 0;
	}
	&:before{
		content: "";
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: white;
		position: absolute;
		right: 10px;
		@include v-align;
		@include mq(lp){
			width: 40px;
			height: 40px;
			right: 7px;
		}
		@include mq(){
			width: 34px;
			height: 34px;
			right: 4px;
		}
	}
	&:after{
		content: "";
		width: 18px;
		height: 18px;
		background: url("../img/common/links.png")no-repeat;
		background-size: 100%;
		position: absolute;
		right: 25px;
		@include v-align;
		@include mq(lp){
			width: 15px;
			height: 15px;
			right: 19px
		}
		@include mq(){
			width: 11px;
			height: 11px;
			right: 16px;
		}
	}
	overflow: hidden;
	&:hover{
		opacity: 1;
		background: white;
		color: #0456a9;
		text-align: center;
		padding: 0 0 4px;
		&:before,&:after{
			right: -100px !important;
			@include smooth-transition;
		}
	}
}


//fade up
.js-scrollin {
	opacity: 0;
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
	&.active{
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}



