@use "vars" as *;

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 15px;
	@include smooth-transition;
	.header-logo{
		display: block;
		width: 258px;
		position: relative;
		@include mq(lp){
			width: 210px;
		}
		@include mq(ipd){
			width: 120px;
		}
		img{
			@include smooth-transition;
		}
		.logo{
			&-02{
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

	}
	.c-btn{
		position: absolute;
		@include v-align;
		right: 15px;
		z-index: 3;
		@include mq(ipd){
			display: none;
		}
	}
	.header-nav{
		position: absolute;
		@include v-align;
		left: 0;
		right: 0;
		max-width: 1200px;
		margin: 0 auto;
		@include flex(center,center,wrap);
		@include mq(ipd){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 60px 40px;
			background: #0D3B74;
			transform: translateY(0);
			border-radius: 0 0 20px 20px;
			&.active{
				display: block;
			}
			&:before{
				content: "";
				position: absolute;
				@include v-align;
				left: 0;
				right: 0;
				height: 200px;
				background: url("../img/common/item-menu.png")no-repeat;
				background-position: center;
			}
			&:after{
				content: "";
				position: absolute;
				top: 90%;
				left: 0;
				right: 0;
				height: 100vh;
				background: rgba(#0D3B74,0.4);
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			@include mq(ipd){
				display: block;
			}
			&-item{
				padding: 5px 2vw;
				position: relative;
				@include mq(ipd){
					padding: 0;
					border-bottom: 1px solid rgba(white,0.3);
					&:last-child{
						border-bottom: none;
					}
				}
				>a{
					display: block;
					@include font-size(24);
					font-weight: bold;
					color: white;
					@include mq(lp){
						@include font-size(18);
					}
					@include mq(ipd){
						color: white !important;
						@include font-size(16);
						text-align: center;
						padding: 30px 0;
					}
				}
			}
		}
		&__ttl{
			display: none;
			@include mq(ipd){
				display: block;
				color: white;
				@include font-size(20);
				position: absolute;
				top: 15px;
				left: 15px;
			}
		}
	}
	.js-mobile {
		width: 24px;
		height: 24px;
		position: absolute;
		right: 20px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(ipd){
			display: block;
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 100%;
			height: 3px;
			background: #0456A9;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #0456A9;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -2px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -2px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: white;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
	&.fixed,&.header-page{
		background: white;
		.header-logo{
			.logo{
				&-01{
					opacity: 0;
					visibility: hidden;
				}
				&-02{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.header-nav{
			&__menu{
				&-item{
					a{
						color: #0D3B74;
					}
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}