<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="img">
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">サービス</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お知らせ</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">私たちについて</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">企業情報</a>
			</li>
		</ul>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>