<header id="header" class="<% if(pageData.template == 'about' || pageData.template == 'contact' || pageData.template == 'services' || pageData.template == 'news' || pageData.template == 'terms' || pageData.template == 'privacy-policy'){ %> header-page <% } %>">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="img" class="logo-01">
		<img src="<%= RELATIVE_PATH %>img/common/logo-02.svg" alt="img" class="logo-02">
	</a>
	<a href="<%= RELATIVE_PATH %>about/#company" class="c-btn js-scroll">
		お問い合わせ
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">サービス</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お知らせ</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">私たちについて</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">企業情報</a>
			</li>
		</ul>
		<span class="header-nav__ttl">Menu</span>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>