<main class="page-<%= pageData.template %>">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/terms/mv.png" alt="img" class="pc">
			<img src="<%= RELATIVE_PATH %>img/terms/mv-sp.png" alt="img" class="sp">
		</div>
		<h1 class="c-ttl__01 c-fc--white">
			<span class="c-ft--en">TERMS OF USE</span>
			<span class="c-ft--jp">利用規約</span>
		</h1>
	</section>
	<section class="sec-terms">
		<div class="inner">
			<div class="terms-note c-txt__basic">
				<h3 class="c-ttl__02">利用規約</h3>
				<p>
					当ホームページに掲載されている文書・写真・イラスト・画像・動画等の著作物に関する著作権は、LandBridge合同会社および第三者が有しております。著作権法に定められた私的使用の範囲内において使用する場合を除き、事前にLandBridge合同会社に許諾を得ることなく、無断で転載、複製、改変、公衆送信、翻訳、販売等をすることはできません。当社はこのホームページに掲載した情報に誤りがあった場合や、第三者によるデータの改竄等があった場合、データ伝送等によって障害が生じた場合に関し、一切責任を負うものではありません。
				</p>
				<h3 class="c-ttl__02">著作権、特許権、商標権その他の知的財産権</h3>
				<p>
					本ページで記載された許諾内容を除き、当サイトは、当社または第三者の著作権、特許権、商標権その他の知的財産権に基づくいかなる権利も許諾するものではありません。
				</p>
				<h3 class="c-ttl__02">推奨環境について</h3>
				<p>
					本サイトをご覧になるために、下記のブラウザをご使用ください。<br>
					パソコンの設定、一部のブラウザによっては正しく表示されない場合がございます。<br>
					当サイトは、レスポンシブ・ウェブデザインを採用することで、スマートフォン、タブレット、PCなど各種端末の画面幅に応じて最適化したレイアウトでコンテンツを表示します。<br>
					各端末のオペレーティングシステムやウェブブラウザは、最新バージョンのご利用をお勧めいたします。
				</p>
			</div>
		</div>
	</section>
</main>